body {
    font-family: 'Poppins', sans-serif;
 
}

html{
    font-size: 14px;
   
}

.menu{
    color:#FFFFFF;
    font-weight: 400px;
    font-size: 1rem;
    margin:0px 6.5px;
}

h1{
    font-size: 4.14rem;
    font-weight: bold;
}
h2{
    font-size: 2.714rem;
    font-weight: bold;
}
h3{
    font-size: 2rem;
    font-weight:600;/*semi bold*/
}
h4{
    font-size: 1.714rem;
    font-weight:600;/*semi bold*/

}

p {
    font-size: 1rem;
    font-weight: 400px;/*regular*/
    margin-top: 15px;
}

a {
    color: white;
}
.cta{

    color:#FF6057;
    font-size: 1.143rem;
    font-weight:600;
}
#header-button{
    background-color: #fff;
    color:#FF6057;
    font-size: 16px;
    width: 12.71rem;
    height: 3.214rem;

}

.img1{
    max-width: 100%;
    max-height: 100%;
}

.home-header {

    background-image: url("../images/Sans\ titre-1.png");
    background-repeat: no-repeat;
    height: 1080px;
}

.top-space{
    margin-top:15%;
}


.mid-section {
    position: relative;

    margin-top: 100px;
}

.sideimg {
    position: absolute;

}

.top-border {
    position: relative;
    padding-top: 10px;
}

.top-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 4px;
    /* Adjust this value to control the thickness of the border */
    background-color: #FF6057;
    /* Adjust the color as needed */
}

.dengrus{
    color:#FF6057;
    font-size: 3.286rem;
    font-weight:700;
}

.points{
    width: 3.786rem;
    /* Adjust this value to control the size of the circle */
    height: 3.786rem;
    /* Adjust this value to control the size of the circle */
    border-radius: 50%;
    /* This creates the circular shape */
    text-align: center;
    padding: 1rem;
    margin:.5rem 1.25rem ;
    
    background-color:#FF6057;
    color:white;
    

}
.my-toggler{
  

    cursor: pointer;
    transform: scaleX(1.5);
    width:40px;
    height:40px;
    background-color: transparent;
    border: none;
   
}




.icon-overly {
    width: 5.643rem;
    /* Adjust this value to control the size of the circle */
    height: 5.643rem;
    /* Adjust this value to control the size of the circle */
    border-radius: 50%;
    /* This creates the circular shape */
    text-align: center;
    padding: 1.5rem;
    margin:2px 0px;
}
.fourth{
    padding: 1rem;
}

.responsive-image {
    position: absolute;

    margin-top: 400px;
}

#responsive-image-img1 {
    right: 67%;
    top: -100px;
    max-height: 55%;

}

#responsive-image-img2 {
    right: 50%;
    top: -639px;

}

#responsive-image-img3 {

    right: 0%;
    top: -50%;
    max-width: 50%;
    max-height: 70%;
}

.bottom-section {
    position: relative;
    margin-top: 100px;
}

.left-border {
    position: relative;
    padding-left: 3.429rem;
    margin-left: 3rem;
 
}

.left-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    /* Adjust this value to control the thickness of the border */
    height: 100%;
    /* Change height to 100% to create a left border */
    background-color: gray;
    /* Adjust the color as needed */
}

footer {
    background-color: balck;


 
    margin-top: 100px;
    color: white;
    background-color: #333333;
}

.carousel-indicators button {
    border-radius: 50%;
    /* Makes the button circular */
    width: 10px;
    /* Adjust the width and height to your preference */
    height: 10px;
    margin-right: 1px;
    border: none;
}

.carousel-indicators .active {
    background-color: #FF6057;
    opacity: 1;
}

.input-change {
    position: relative;
    border-radius: 50%;
    background-color: white;
    width: 100%;
    padding: 0
}

.change {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 15px;
    background-color: #FF6057;
    width: 40%
}

.gradient {
    background: linear-gradient(#7C1C80, #FF6057);
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    max-width: 12.714rem;
    height: 3.214rem;
}



@media (max-width: 768px) {

 

    .top-space{
        margin-top:0px;
    }
    
    .responsive-image {
        max-width: 80%;
        max-height: 80%;
        top: -198px;
    }

    #responsive-image-img1 {
        top: 25%;
        max-height: 50%;
        max-width: 50%;
    }

    #responsive-image-img3 {
        top: -11%;
     
    }
}

@media (max-width: 500px) {
    html{
        font-size: 10px;
    }

    #responsive-image-img1 {
        top: 20%;

        max-width: 100%;
    }

    #responsive-image-img2 {
        right: 25%;

    }
}